.reports__top-points {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.reports__top-point {
    border-radius: 10px;
    border: 1px solid rgba(233, 0, 253, 0.64);
    background: linear-gradient(180deg, rgba(142, 0, 154, 0.30) 0%, rgba(142, 0, 154, 0.00) 100%);
    backdrop-filter: blur(52px);
    height: 450px;
    flex: 1 1 33%;
    position: relative;
    padding: 40px;
    padding-bottom: 50px;

}

.reports__top-point-fone {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;

    img {
        border-radius: 10px;
        width: 100%;
        height: 100%;
    }
}

.reports__point-info {
    gap: 12px;
    height: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    max-width: 341px;
}

.reports__point-info-image {
    position: absolute;
    z-index: -1;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.reports__point-title {
    color: #FFF;
    text-align: center;
    font-family: Jost;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    /* 25.2px */
}

.reports__point-main {
    color: #FFFfff50;
    text-align: center;
    font-family: Jost;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    /* 22.4px */
}

.reports__point-link {
    a {
        color: #FFF;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Jost;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        /* 16px */
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

}

.reports__bottom {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.reports__bottom-point {
    position: relative;
    border-radius: 15px;
    width: 100%;
    height: 370px;
}

.bottom__point-fone {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    img {
        width: 100%;
        height: 100%;
        border-radius: 15px;
    }
}

.bottom__point-info {
    width: 100%;
    position: absolute;
    top: 50%;
    right: 60px;
    transform: translateY(-50%);
    max-width: 341px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.bottom__point-info-fone {
    z-index: -1;
    position: absolute;
    top: 50%;
    right: -35px;
    transform: translateY(-50%);
}

.bottom__point-title {
    color: #FFF;
    text-align: center;
    font-family: Jost;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    /* 25.2px */
}

.bottom__point-main {
    color: #FFFfff50;
    text-align: center;
    font-family: Jost;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    /* 22.4px */
}

.reports__point-link {}

@media (max-width:1660px) {
    .reports__top-points {
        flex-wrap: wrap;
    }
}

@media (max-width:1024px) {
    .reports__top-points {
        flex-direction: column;
        gap: 50px;
    }

    .reports__bottom {
        flex-direction: column;
    }

    .reports__point-info {}


}

@media (max-width:767px) {
    .reports__point-info {
        max-width: inherit;
        height: 100%;
    }

    .reports__top-point {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        min-height: 375px;
    }

    .reports__point-info-image {
        img {
            width: 350px;
            height: 250px;
        }
    }

    .reports__point-title {
        color: #FFF;
        text-align: center;
        font-family: Jost;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 160%;
        /* 19.2px */
    }

    .reports__point-main {

        text-align: center;
        font-family: Jost;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 160%;
        /* 19.2px */
    }

    .bottom__point-info {
        top: 0;
        right: inherit;
        left: 50%;
        bottom: -125px !important;
        transform: translateX(-50%);

        bottom: 10px;
        max-width: 300px;
    }

    .reports__bottom-point {
        height: 375px;
    }

    .bottom__point-info-fone {
        right: inherit;

        img {
            width: 350px;
            height: 250px;
        }
    }

    .bottom__point-title {
        font-size: 16px;
    }

    .bottom__point-main {
        font-size: 12px;
    }
}

.report {}

.report__block {}

.report__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.report__head-left {}

.report__head-deposits {
    ul {
        display: flex;
        gap: 10px;
        align-items: center;
        flex-wrap: wrap;
    }

    li {
        color: var(--white, #FFFfff50);
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Jost;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        /* 18px */
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.40);
        background: rgba(255, 255, 255, 0.10);
        display: flex;
        padding: 17px 30px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        max-height: 50px;
    }
}

.report__head-deposit-selected {
    color: var(--white, #FFF) !important;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Jost;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* 18px */
}

.report__head-deposit-create {

    color: #FFF !important;
    border-radius: 15px;
    border: 1px dashed #FFF !important;
    opacity: 0.5;
    backdrop-filter: blur(12px) !important;
}

.review__bottom-period {
    p {
        color: rgba(255, 255, 255, 0.50);
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Jost;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        /* 14px */
    }

    svg {
        margin-left: 20px;
    }

    gap: 5px;
    width: 100%;
}

.report__main {

    padding: 20px;
    padding-top: 10px;
    position: relative;
}

.report__main-fone {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    img {
        width: 100%;
        height: 100%;
    }
}

.report__graf {
    padding-right: 20px;

    width: 450px;
}

.report__graf-top {
    gap: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.report__graf-title {
    color: #FFF;
    font-family: Jost;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.report__graf-peroid {
    font-size: 12px;
    max-width: 170px;
    padding: 15px 10px;

    p {
        font-size: 12px;
    }

    svg {
        margin-left: 10px;
    }

    gap: 2px;

    span {
        font-size: 12px;
    }
}

.review__bottom-period {}

.review__bottom-period-pop {}

.report__graf-main {
    position: absolute;
    bottom: 0;
}

.report__graf {
    position: relative;
}

#myChart {
    width: 95% !important;
    height: 310px !important;
}

.report__graf-peroid-left {
    display: flex;
    align-items: center;
    gap: 5px;
}

.report__main {
    display: flex;
}

.report__score {
    width: 351px;
    padding: 0 20px;
    border-left: 1px solid #A502B6;
    border-right: 1px solid #A502B6;
}



.report__score-income {}

.report__incomes {
    margin-top: 10px;

    margin-bottom: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.report__income {}

.report__income-we {}

.report__income-title {
    display: flex;
    align-items: center;
    gap: 5px;

    span {
        color: #FFFfff50;
        font-family: Jost;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
}

.report__income-main {
    display: flex;
    gap: 5px;
    align-items: baseline;

    p {
        color: #FFF;
        font-family: Jost;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 125%;
        /* 25px */
    }

    span {
        color: #FFF;
        font-family: Jost;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 125%;
        /* 17.5px */
    }
}

#myChart1 {
    max-height: 100px !important;
}

#myChart2 {
    max-height: 100px !important;
}


.report__income-graf-title {
    color: #FFF;
    font-family: Jost;
    font-size: 14.596px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.811px;
}

.report__attention {
    min-width: 265px;
    padding: 0 20px;
    border-right: 1px solid #A502B6;
}

.report__attention-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFF;
    font-family: Jost;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;
}

.report__attention-btc {
    padding: 15px;
    border-radius: 5px;
    border: 1px solid rgba(233, 0, 253, 0.64);
    background: rgba(0, 0, 0, 0.30);
    backdrop-filter: blur(80.75294494628906px);
}

.report__btc-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #FFFfff50;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Jost;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    /* 19.6px */
    margin-bottom: 5px;
}

.report__btc-sum {
    text-align: center;
    color: #FFF;
    font-family: Jost;
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    /* 34px */
    margin-bottom: 10px;
}

.report__btc-times {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.report__btc-time {
    display: flex;
    gap: 5px;


    p {
        color: #FFFfff50;
        text-align: right;
        font-family: Jost;
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    span {
        color: #04ED65;
        text-align: right;
        font-family: Jost;
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        display: flex;
        align-items: center;
        gap: 5px;
    }
}

.report__btc-updated {
    margin-top: 10px;
    color: #FFFfff50;
    text-align: center;
    font-family: Jost;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.report__attention-cards {
    overflow: scroll;
    height: 210px;
    margin-top: 10px;
}

.report__attention {
    position: relative;
}

.report__attention-cards-main {
    position: relative;
    padding: 10px 0;
    padding-bottom: 30px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.report__attention-cards::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: -20px;
    left: 0;
    border-bottom: 1px solid #A502B6;
    z-index: 33;
    background: linear-gradient(0deg, #2B0338 0%, rgba(43, 3, 56, 0.00) 100%);
}

.report__attention-cards::-webkit-scrollbar {
    width: 1px;
    /* ширина scrollbar */
}

.report__attention-cards::-webkit-scrollbar-track {
    background: #00000000;
    /* цвет дорожки */
}

.report__attention-cards::-webkit-scrollbar-thumb {
    background: #00000000;
    /* цвет плашки */
    border-radius: 20px;
    /* закругления плашки */

    /* padding вокруг плашки */
}

.report__main {
    height: 386px;
    overflow: hidden;
}

.report__attention-card {
    border-radius: 5px;
    border: 1px solid rgba(233, 0, 253, 0.64);
    background: rgba(0, 0, 0, 0.30);
    backdrop-filter: blur(80.75294494628906px);
    display: flex;
    padding: 10px 9px 10px 10px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
}

.report__attention-card-title {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #FFFfff50;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Jost;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    /* 14px */
}

.report__attention-card-sum {
    color: #FFF;
    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    /* 16px */
}

.report__btc-card-times {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.report__btc-time {}

.report__btc-time-minus {
    span {
        color: #FF2121;
    }

    svg {
        transform: rotate(180deg);
    }

    svg path {

        fill: #FF2121;
    }
}

.report__fact {
    width: 425px;
    position: relative;
}

.report__fact-cards {

    padding-left: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

.report__fact-card {

    min-height: 175px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(233, 0, 253, 0.64);
    background: rgba(0, 0, 0, 0.30);
    backdrop-filter: blur(80.75294494628906px);
}

.report__greed {}

.report__greed-title {

    color: #FFFfff50;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;

    /* 22.4px */

}

.report__greed-title-dom {
    width: 100%;
    color: #FFFfff50;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    /* 22.4px */
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;


}

.report__greed-main {
    height: 100%;
    margin-top: 5px;
    position: relative;
}

.report__greed-graf {
    z-index: -1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
}

.report__greed-graf-arrow {
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    position: absolute;
}

.report__greed-index {
    p {
        color: var(--100, #FFF);
        text-align: center;
        font-family: Jost;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 10px;
    }

    span {
        color: rgba(255, 255, 255, 0.60);
        text-align: center;
        font-family: Jost;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    height: 100%;
    position: absolute;
    top: 65px;
    left: 50%;
    transform: translateX(-50%);
}

.report__greed-present {
    display: flex;
    align-items: baseline;
    justify-content: center;
    color: #FFF;
    font-family: Jost;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    span {
        color: rgba(255, 255, 255, 0.50);
        font-family: Jost;
        font-size: 19px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
}

.report__greed-height {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #04ED65;
    text-align: right;
    font-family: Jost;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    span {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
}

.report__greed-updated {
    color: #FFFfff50;
    text-align: center;
    font-family: Jost;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.report__market {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.report__market-title {
    color: #FFFfff50;

    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Jost;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    /* 22.4px */
}

.report__market-sum {
    position: relative;
    color: #FFF;

    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    span {
        position: absolute;
        right: 0;
        top: -10px;
        color: #04ED65;
        text-align: right;
        font-family: Gilroy;
        font-size: 10.341px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
}

.report__market-present {
    display: flex;
    align-items: baseline;
    gap: 6px;

    span {
        color: #04ED65;
        text-align: right;
        font-family: Jost;
        font-size: 10.341px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        display: flex;
        align-items: baseline;
        gap: 5px;
    }
}

.report__statistics {
    margin-top: 50px;
}

.report__statistics-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.statistics__head-title {
    color: #FFF;
    font-family: Jost;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    /* 33.6px */
}

.statistics__head-right {
    display: flex;
    gap: 25px;
}

.statistics__head-inp {
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.40);
    background: rgba(255, 255, 255, 0.10);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 360px;
    padding: 18px 20px;

    input {
        width: 100%;
    }
}

.statistics__head-transactions {
    border-radius: 10px;
    border: 1px solid rgba(233, 0, 253, 0.64);
    background: linear-gradient(180deg, rgba(142, 0, 154, 0.30) 0%, rgba(142, 0, 154, 0.00) 100%);
    backdrop-filter: blur(52px);
    display: flex;

    align-items: center;
    justify-content: center;
}

.statistics__head-transaction {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 152px;
    color: var(--white, #FFFfff50);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Jost;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    /* 19.6px */
}

.transaction__sel::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background: url(/img/reports/border-left.png) no-repeat;
    z-index: -1;
    left: 0;
    top: -12px;
}



.transaction__sel::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background: url(/img/reports/border-right.png) no-repeat;
    z-index: -1;
    right: 0;
    top: -12px;
}

.statistics__head-transaction:first-child::before {
    top: -17px;
}

.statistics__head-transaction:first-child::after {
    top: -17px;
}

.transaction__sel {
    color: #E900FD;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Jost;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* 14px */
}

.report__statistics-table {}

.ui-table__cell {
    vertical-align: middle;
}

.report__statistics-table {

    overflow: hidden;
    border-radius: 10px;
    border: 1px solid rgba(233, 0, 253, 0.64);
    background: linear-gradient(180deg, rgba(142, 0, 154, 0.30) 0%, rgba(142, 0, 154, 0.00) 100%);
    backdrop-filter: blur(52px);
    margin-top: 26px;
}

.ui-table__thead {

    border-radius: 0px 0px 10px 10px;
    background: #470360;
    overflow: hidden;
}

.ui-table__row th {
    padding: 20px 0;
}

.statistics__table {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    span {
        color: #FFF;
        font-family: Jost;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 125%;
        /* 20px */
    }

    img {
        width: 24px;
        height: 24px;
    }
}

.statistics__green {
    color: #00FF29 !important;
    font-size: 16px !important;
}

.statistics__yellow {
    color: #FFD600 !important;
    font-size: 16px !important;
}

.statistics__height {
    color: #F00 !important;

    font-size: 16px !important;
}

.statistics__low {
    color: #04ED65 !important;

    svg {
        transform: rotate(180deg);

        path {
            fill: #04ED65;
        }
    }

    font-size: 16px !important;
}

.popup__table-paginations {

    width: 270px;
    height: 70px;
    margin: 25px auto;
    padding: 23px 0;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.40);
    background: rgba(47, 47, 47, 0.30);
    backdrop-filter: blur(7px);
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;

    a {
        color: #FFFfff50;
        text-align: center;

        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        /* 33.6px */
    }
}

.paginations-active {
    color: #FFF !important;
    text-align: center;

    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    /* 33.6px */
}

@media (max-width: 1900px) {
    .report__main {
        height: 100%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .report__graf {
        width: inherit;
    }

    .report__graf-main {
        position: relative;
    }

    .report__main-fone {
        height: 100%;
    }

    .report__attention {
        border: none;
    }

    .report__score {
        border: none;
    }

    .report__attention-cards::before {
        display: none;
    }

    .report__attention-cards {
        height: 100%;
        padding: 0;
        overflow: inherit;
    }

    .report__attention-cards-main {
        padding: 0;

    }
}

@media (max-width: 1440px) {
    .report__statistics-head {
        flex-direction: column;
        gap: 20px;
        justify-content: center;
    }
}

.container__desctop {
    display: block;
}

.container__mobile {
    display: none;
}

.review__bottom-period-left {
    display: flex;
    gap: 4px;
}

.report__head-deposits {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.report__head-deposit-create {
    height: 52px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 17px 30px;
}

.report__head-deposits-mobile {
    display: none;
}

@media (max-width: 900px) {
    .report__greed-height {
        margin-top: 5px;
    }

    .report__greed-updated {
        margin-top: 5px;
    }

    .popup__table-paginations {
        height: 52px;

        a {
            font-size: 16px;
            font-style: normal;
            font-weight: 600;


        }

        svg {
            width: 16px;
        }
    }

    .decktop-table {
        display: none;
    }

    .ui-table__row {
        display: table-row;
    }

    .statistics__table {}

    .report__head-deposits-mobile {
        transition: .4s;
        color: #FFF;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Jost;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        /* 14px */
        padding: 20px;
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.40);
        background: rgba(255, 255, 255, 0.10);
        z-index: 3;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;

        svg {
            transition: .4s;
        }

        ul {
            transition: .4s;
            opacity: 0;
            visibility: hidden;
            padding: 0 20px;
            width: calc(100% + 2px);
            top: 100%;
            left: -1px;
            border-radius: 10px;
            border: 1px solid rgba(255, 255, 255, 0.40);
            background: rgba(255, 255, 255, 0.10);
            backdrop-filter: blur(22px);
            position: absolute;

            li {
                border-bottom: 1px solid #FFFfff50;
                padding: 15px 0;
            }
        }
    }

    .report__head-deposits-mobile.active {
        z-index: 333;

        ul {
            opacity: 1;
            visibility: visible;
        }

        svg {
            transform: rotate(180deg);
        }
    }


    .report__head-deposits {
        display: none;
    }

    .report__head-deposits {
        flex-direction: column;
    }

    .container__desctop {
        display: none;
    }

    .report__main {
        width: 100%;
    }

    .statistics__head-right {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container__mobile {
        display: block;
        width: calc(100vw - 50px) !important;
        left: inherit;
        top: 0;
    }

    .report__main-fone {
        left: 50%;
        transform: translateX(-50%);
    }

    .report__graf-top {
        gap: 10px;
    }

    .report__graf {
        padding-right: 0;
    }

    .report__head {
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }



    #myChart {
        width: 100% !important;
        height: 100% !important;
    }

    .report__score {
        margin-top: 10px;
    }


    .report__graf-top {
        width: 100%;
        flex-direction: column;
    }

    .report__main {
        padding: 20px;
    }

    .report__graf-peroid {
        max-width: inherit;
    }

    .report__income-title {
        margin-bottom: 5px;
    }

    .report__income-graf {
        margin-top: 10px;
    }

    .report__attention {
        width: 100%;
    }

    .report__fact-cards {
        margin-top: 20px;
        padding-left: 0;
        grid-template-columns: repeat(1, 1fr);
    }

    .report__greed-title {
        margin-bottom: 10px;
    }

    .report__market-sum span {
        position: inherit;
        top: 0;
    }

    .report__market-sum {
        display: flex;
        gap: 5px;
        align-items: baseline;
    }

    .report__attention {
        padding: 0;
        margin-top: 20px;
    }

    .report__score {
        padding: 0;
    }

    .statistics__head-transaction {
        width: 100%;
        text-align: center;
    }

    .report__statistics {
        width: 100%;
    }

    .statistics__head-inp {
        width: 100%;
    }

    .report__head-deposits {
        li {
            width: 100%;
        }
    }

    .statistics__head-right {
        width: 100%;
    }

    .report__head-deposit-create {
        width: 100% !important;
    }

    #myChart1 {
        width: 100%;
    }

    .popup__derail-block {
        width: 360px;
        padding: 30px 20px;
    }

    .popup__derail-title {
        color: #FFF;
        font-family: Jost;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        /* 20px */
        padding-bottom: 36px;
        padding-top: 11px;
        border-bottom: 1px solid #FFFfff50;
    }

    .popup__derail-content {
        ul {
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            gap: 20px;

            li {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }

    .popup__derail-point-title {
        color: #FFFfff50;
        font-family: Jost;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
        /* 14px */
    }

    .popup__derail-point-info {
        color: #FFF;
        font-family: Jost;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 125%;
        /* 17.5px */
    }

    .popup__derail-point-monet {
        display: flex;
        align-items: center;
        gap: 7px;
    }

    .popup__derail-point-long {
        color: #00FF29;
        font-family: Jost;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 125%;
        /* 17.5px */
    }

    .popup__derail-point-heigh {
        display: flex;
        align-items: center;
        color: #F00;
        text-align: right;
        font-family: Jost;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .popup__derail-btn {
        button {
            transition: .4s;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 14px 30px;
            margin-top: 30px;
            border-radius: 10px;
            border: 0.86px solid rgba(255, 255, 255, 0.35);
            background: rgba(255, 255, 255, 0.20);
        }

        button:hover {
            background: #00000000;
        }
    }

    .report__score {
        width: 100% !important;
    }
}

.z-index333 {
    z-index: 3333;
}

.report__main {
    padding: 30px;
}